---
layout: base.njk
title: ojsef39
---
<main>
    <div class="box">
      <div class="title-bar">
        <button aria-label="Close" class="close"></button>
        <h1 class="title">Hello</h1>
        <button aria-label="Resize" class="resize"></button>
      </div>
      <div class="flex">
        <img
          class="pfp"
          src="https://avatars.githubusercontent.com/u/43563019?v=4"
          width="64px"
          onclick="this.classList.add('spin'); setTimeout(() => this.classList.remove('spin'), 1000);"
        />
        <p>
          I'm josef (known online as ojsef39), just some random ass dude who
          likes electronic music
        </p>
      </div>
    </div>

    <side-by-side>
      <div class="box">
        <div class="title-bar">
          <button aria-label="Close" class="close"></button>
          <h1 class="title">Find me elsewhere</h1>
          <button aria-label="Resize" class="resize"></button>
        </div>
        <p>You can find me on the following platforms</p>
        <ul>
          <li><a href="https://instagram.com/ojsef39">Instagram</a></li>
          <li>
            <a
              href="https://open.spotify.com/user/ichhabeeis?si=hfrTLN3AQWC6el6fM2y5Fw"
              >Spotify</a
            >
          </li>
          <li><a href="https://music.apple.com/profile/ojsef39">Apple Music</a></li>
          <li>
            <a href="https://soundcloud.com/josef-hofer-298740873"
              >Soundcloud</a
            >
          </li>
          <li><a href="https://discordapp.com/users/ojsef39">Discord</a></li>
          <li><a href="https://chaos.social/@ojsef39">Mastodon (Chaos)</a></li>
          <li><a href="https://mastodon.de/@ojsef39">Mastodon (DE)</a></li>
        </ul>
      </div>

      <div class="box">
        <div class="title-bar">
          <button aria-label="Close" class="close"></button>
          <h1 class="title">Currently</h1>
          <button aria-label="Resize" class="resize"></button>
        </div>
        <div style="text-align: left !important; padding: 1rem;">
                    <p>Ok, I'm just uploading the new version of the kernel, v1.3.33, also
                        known as "the buggiest kernel ever".<br>
    -- Linus Torvalds
                    </p>
        </div>
      </div>
    </side-by-side>

    <div class="box">
      <div class="title-bar">
        <button aria-label="Close" class="close"></button>
        <h1 class="title">Projects & Links</h1>
        <button aria-label="Resize" class="resize"></button>
      </div>
      <div style="padding: 1rem;">
        <div class="project-item">
          <a href="https://github.com/ojsef39">GitHub Profile</a>
          <p class="project-desc">My GitHub profile with all my open source projects</p>
        </div>
        <div class="project-item">
          <a href="https://status.jhofer.org/en">Infrastructure Status</a>
          <p class="project-desc">Real-time status page for my infrastructure and services</p>
        </div>
        <div class="project-item">
          <a href="https://github.com/JHOFER-Cloud">JHOFER-Cloud</a>
          <p class="project-desc">My homelab stuff, most projects are private tho</p>
        </div>
        <div class="project-item">
          <a href="https://github.com/ojsef39/nix-personal">nix-personal</a>
          <p class="project-desc">Personal NixOS configuration for my systems</p>
        </div>
        <div class="project-item">
          <a href="https://github.com/ojsef39/nix-base">nix-base</a>
          <p class="project-desc">Base NixOS configurations and shared modules</p>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="title-bar">
        <button aria-label="Close" class="close"></button>
        <h1 class="title">My Playlists</h1>
        <button aria-label="Resize" class="resize"></button>
      </div>
      <div class="spotify">
        <ul>
          <li class="playlist-item">
            <span class="playlist-name">{% spotifyPlaylist "1aZozvY40PxFEvDzCRbdGq" %}</span>
            <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1aZozvY40PxFEvDzCRbdGq?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </li>
          <li class="playlist-item">
            <span class="playlist-name">{% spotifyPlaylist "2jA3VmFAEOofXh05JF9AoE" %}</span>
            <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2jA3VmFAEOofXh05JF9AoE?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </li>
          <li class="playlist-item">
            <span class="playlist-name">{% spotifyPlaylist "2SOQMQHE2wmK1AXNmAY1uq" %}</span>
            <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2SOQMQHE2wmK1AXNmAY1uq?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </li>
          <li class="playlist-item">
            <span class="playlist-name">{% spotifyPlaylist "0KrItRfpPwDduNGlmLml00" %}</span>
            <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0KrItRfpPwDduNGlmLml00?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </li>
          <li class="playlist-item">
            <span class="playlist-name">{% spotifyPlaylist "7poH4eMH9Kb0n6wpvIwcfV" %}</span>
            <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7poH4eMH9Kb0n6wpvIwcfV?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </li>
        </ul>
      </div>
    </div>


    <div class="box banners">
        <a aria-label="NeoVim" href="https://neovim.io/"> <img src="/assets/neovim.gif" alt="neovim" style="width: 88px; height: 31px; object-fit: contain;"> </a>
        <a aria-label="NixOS" href="https://fedi.underpowe.red/notice/An1zXpw0eMdAKN3mgy" target="_blank" class="button" title="nixos!">
            <img src="/assets/nix_dark.gif" alt="nixos" style="width: 88px; height: 31px; object-fit: contain;">
        </a>
        <img src="/assets/i_like_computer.png" alt="i like computer" style="width: 88px; height: 31px; object-fit: contain;">
        <iframe src="//incr.easrng.net/badge?key=ojsef39" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
        <a href="https://www.tumblr.com/riding-with-the-wild-hunt/767435793628348416/a-whole-bunch-of-gazan-mutual-aid-projects-and?source=share" target="”_blank”"><img src="assets/freepalestine.gif" alt="Free palestine!!"></a>
        <div class="footer">
                Made with ❤️ by <a href="https://frostplexx.neocities.org/">Frostplexx</a>, you can find the source code <a
                    href="https://github.com/JHOFER-Cloud/static-pages">here</a>
        </div>
    </div>


  </main>
