<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% if favicon %}
  <link rel="icon" href="{{ favicon }}">
  {% else %}
  <link rel="icon" href="https://avatars.githubusercontent.com/u/43563019?v=4">
  {% endif %}
  <link rel="stylesheet" href="/bundle.css" />
  {% if pageStyles %}
  <style>
    {{ pageStyles | safe }}
  </style>
  {% endif %}
  {% if pageScripts %}
  <script src="{{ pageScripts }}"></script>
  {% endif %}
</head>
<body>
  {{ content | safe }}
  <script>
    function goBack() {
      if (window.history.length > 1) {
        window.history.back();
      } else {
        window.location.href = '/';
      }
    }
  </script>
  <script type="module">
    // Vercel Speed Insights
    import { injectSpeedInsights } from 'https://cdn.jsdelivr.net/npm/@vercel/speed-insights@1.2.0/+esm';
    injectSpeedInsights();

    // Vercel Analytics
    import { inject } from 'https://cdn.jsdelivr.net/npm/@vercel/analytics@1.5.0/+esm';
    inject();
  </script>
  {% if vercelOwnerId and vercelProjectId %}
  <script
    src="https://vercel.live/_next-live/feedback/feedback.js"
    data-explicit-opt-in="true"
    data-owner-id="{{ vercelOwnerId }}"
    data-project-id="{{ vercelProjectId }}"
    data-branch="main"
  ></script>
  {% endif %}
</body>
</html>
