<div class="footer" style="text-align: center;">
  Made with ❤️ by <a href="https://frostplexx.neocities.org/">Frostplexx</a>, you can find the source code <a href="https://github.com/JHOFER-Cloud/static-pages">here</a>
  &nbsp;·&nbsp;
  <a href="/imprint/">Imprint</a>
  &nbsp;·&nbsp;
  <a href="/privacy-policy/">Privacy Policy</a>
  &nbsp;·&nbsp;
  <a href="/terms-and-conditions/">Terms</a>
</div>
